// Variables
:root {
    --background-color: #EEE;
    --text-color: #000;
    --header-background: #FFF;
    --border-color: #DDD;
    --global-spacing: max(2rem, 2vw);
}

:root.darkmode {
    --background-color: #1d1d1d;
    --text-color: #FFF;
    --header-background: #121212;
    --border-color: #444;
}

// Global styles
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    display: block;
}

// Classes
.product-card {
    min-width: 0;
    height: fit-content;
    background: var(--header-background);
    box-shadow: 0 0 0.5rem 0.1rem #6663;
    opacity: 0;

    &--is-visible {
        animation: card-popup 0.5s both;
    }

    &__wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__image-wrapper {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            box-shadow: inset 0 0 0 0.5rem #FFF3;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 5/3;
        object-fit: cover;
        object-position: center;
        transition: transform 0.2s;
    }

    &:hover &__image {
        transform: scale(1.1);
    }

    &__bottom-row {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__name {
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__price {
            font-weight: 100;
            font-size: 2rem;
        }

        &__purchase {
            border: none;
            background: none;
            color: inherit;
            backdrop-filter: invert(5%);
            padding: 0.5rem 1rem;
            transition: backdrop-filter 0.2s;
            cursor: pointer;

            &:hover {
                backdrop-filter: invert(10%);
            }
        }
    }

    :root.darkmode & {
        box-shadow: 0 0 0 1px var(--border-color);
    }
}

.black-button {
    border: none;
    background: black;
    color: white;
    padding: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 0 0.5rem 0.1rem #666A;
    border-radius: 0;

    &:hover {
        background: #444 !important;
    }

    :root.darkmode & {
        box-shadow: 0 0 0 1px var(--border-color);
        background: var(--header-background);
    }
}

.popup-modal {
    background: var(--header-background);
    color: var(--text-color);
    border: none;
    position: fixed;
    margin: 2rem;
    margin-left: auto;
    bottom: 0;
    right: 0;
    padding: 2rem;
    z-index: 100;
    box-shadow: 0 0 0.5rem 0.1rem #666A;
    animation: card-popup 0.5s both, card-popup 0.5s 3s reverse both;

    :root.darkmode & {
        box-shadow: 0 0 0 1px var(--border-color);
        background: var(--header-background);
    }
}

// Animations
@keyframes card-popup {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: 0;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(0.5rem);
    }
}