// Classes
header {
    display: contents;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid var(--border-color);
    background-color: var(--header-background);
    color: var(--text-color);
    padding: 0.5rem 1.5rem;
    height: 4rem;

    &__klarna {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > img { height: 100%; }
        & > span { font-weight: 600; }
    }

    &__nav {
        font-size: 0;
    }

    &__nav > * {
        font-size: 1.6rem;
        font-weight: 100;
        text-decoration: underline transparent;
        text-underline-offset: 0.4rem;
        transition: text-decoration-color 0.2s, text-underline-offset 0.1s;

        &:not(:first-child) {
            margin-inline-start: 2rem;
            padding-inline-start: 2rem;
            border-inline-start: thin solid var(--border-color);
        }

        &:hover {
            text-underline-offset: 0.5rem;
            text-decoration-color: initial;
        }
    }

    &__nav > button {
        border: none;
        background: none;
        font-family: inherit;
        color: inherit;
        cursor: pointer;
    }
}

.bottom-header {
    position: sticky;
    top: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    color: var(--text-color);
    min-height: 7rem;

    &__logo-wrapper, &__account {
        flex: 1 1 0;
        & img {
            filter: var(--image-filter);
        }
    }

    &__logo {
        height: 2rem;
    }

    &__nav {
        display: flex;
        gap: 2rem;
        padding-inline: 3rem;
    }

    &__nav-item {
        position: relative;

        &__name {
            font-weight: inherit;
            font-size: inherit;
            cursor: pointer;
            display: flex;
            align-items: center;
            white-space: nowrap;

            &__arrow {
                height: 2.4rem;
                aspect-ratio: 1/1;
                filter: var(--image-filter);
                transition: transform 0.2s;
            }
        }

        &__wrapper {
            position: absolute;
            min-width: 100%;
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s;
        }

        &__list {
            margin-top: 0.5rem;
            background-color: var(--header-background);
            list-style-type: none;
            padding: 1rem;
            box-shadow: 0 0 0.5rem 0 rgba(100, 100, 111, 0.5);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: hidden;
            min-width: fit-content;
            transition: padding-block 0.3s;
        }

        :root.darkmode &__list {
            box-shadow: 0 0 0 1px #444;
        }

        &__list > li > a {
            display: block;
            padding: 0.5rem;
            width: 100%;
            background-color: var(--header-background);
            transition: filter 0.2s;
            &:hover { filter: invert(5%); }
        }

        // 💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀💀

        :root.menu-open &:not(:focus-within) &__name__arrow,
        :root:not(.menu-open) &:not(:hover) &__name__arrow {
            transform: rotate(180deg);
        }

        :root.menu-open &:focus-within &__wrapper,
        :root:not(.menu-open) &:hover &__wrapper {
            grid-template-rows: 1fr;
        }

        :root.menu-open &:not(:focus-within) &__list,
        :root:not(.menu-open) &:not(:hover) &__list {
            padding-block: 0;
            box-shadow: none;
        }
    }

    &__account {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        gap: 2rem;

        & > :is(a, div) {
            transition: transform 0.2s;
            cursor: pointer;
            &:hover { transform: scale(1.1); }
            & > img { height: 100%; }
        }

        &__menu-wrapper {
            display: none;
        }
    }
}

// Media queries
@media screen and (max-width: 73rem) {
    .bottom-header__nav {
        display: none;
        gap: 2rem;
        font-size: 3rem;
        font-weight: 500;
        flex-direction: column;
        position: fixed;
        inset: 0;
        background-color: var(--header-background);
        padding: 5%;
        z-index: 1;

        :root.menu-open & {
            display: flex;
        }

        :root.menu-open &-item__wrapper {
            position: initial;
        }

        :root.menu-open &-item__list {
            font-weight: 100;
            box-shadow: none;
        }
    }

    .bottom-header__account__menu-wrapper {
        display: initial;

        :root.menu-open & {
            position: fixed;
            top: 5vw;
            right: 5vw;
            height: 4rem;
            z-index: 2;
        }
    }
}

@media screen and (max-width: 37rem) {
    .top-header {
        display: flex;
        position: fixed;
        inset: auto 0 0 0;
        z-index: 2;
        justify-content: center;
        border-top: thin solid var(--border-color);
        border-bottom: none;

        &__klarna {
            display: none;
        }

        :root:not(.menu-open) & {
            display: none;
        }
    }

    .bottom-header {
        flex-direction: column;
        gap: 2rem;
    }
}