.hero-wrapper {
  height: calc(100vh - 11rem);
  background-image: url("../../assets/hero_image.webp");
  background-position: center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--global-spacing);
  padding: var(--global-spacing);
}
.main__sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--global-spacing);
}
.main__sales__title {
  font-weight: 100;
  font-size: 3.5rem;
}

.product-card {
  --card-spacing: calc(var(--global-spacing) / 2);
  width: clamp(20rem, 100%, 35rem);
  -webkit-backdrop-filter: invert(5%);
          backdrop-filter: invert(5%);
  transition: -webkit-backdrop-filter 0.2s;
  transition: backdrop-filter 0.2s;
  transition: backdrop-filter 0.2s, -webkit-backdrop-filter 0.2s;
}
.product-card__wrapper {
  padding: var(--card-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--card-spacing);
}
.product-card__image {
  width: 100%;
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-card__bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card__bottom-row__purchase {
  border: none;
  background: none;
  -webkit-backdrop-filter: invert(10%);
          backdrop-filter: invert(10%);
  padding: 0.5rem 1rem;
  transition: -webkit-backdrop-filter 0.2s;
  transition: backdrop-filter 0.2s;
  transition: backdrop-filter 0.2s, -webkit-backdrop-filter 0.2s;
  cursor: pointer;
}
:root.darkmode .product-card__bottom-row__purchase > img {
  filter: invert(100%);
}
.product-card__bottom-row__purchase:hover {
  -webkit-backdrop-filter: invert(20%);
          backdrop-filter: invert(20%);
}
.product-card__bottom-row__name {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.product-card__bottom-row__price {
  font-weight: 100;
  font-size: 2rem;
}
.product-card:hover {
  -webkit-backdrop-filter: invert(10%);
          backdrop-filter: invert(10%);
}