.main {
    &__hero-wrapper {
        min-height: calc(100svh - 11rem);
        background-image: url('../../assets/hero_image.webp');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: min(10vw, 10vh);
        padding-bottom: var(--global-spacing);

        @media screen and (min-width: 37rem) {
            background-attachment: fixed;
        }

        &__content {
            color: white;
            width: 100%;
            max-width: 60rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            &__hero-text {
                font-weight: bold;
                font-size: min(8vw, 8vh, 5rem);
            }

            &__show-now {
                background: #FFF;
                color: black;
                box-shadow: none;
                font-weight: 200;
                padding: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
                border-radius: 0;
                transition: background 0.2s;

                &:hover {
                    background: #DDD !important;
                }
            }
        }

        &__scroll-btn {
            align-self: center;
            border: none;
            background: white;
            color: black;
            border-radius: 50%;
            animation: bounce 1s infinite ease-in-out;
            cursor: pointer;

            & > svg {
                display: block;
                width: 4rem;
                height: 4rem;
                aspect-ratio: 1/1;
                transform: rotate(180deg);
            }
        }
    }

    &__sales {
        padding: var(--global-spacing);
        scroll-margin-top: 11rem;

        &__title {
            font-weight: 100;
            font-size: 3.5rem;
        }

        &__products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--global-spacing);
            margin-top: var(--global-spacing);
        }
    }

    &__recents {
        padding: var(--global-spacing);
        padding-top: 0;

        &__title {
            font-weight: 100;
            font-size: 3.5rem;
        }
        
        &__products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--global-spacing);
            margin-top: var(--global-spacing);
        }

        &:has(> &__products:empty) {
            display: none;
        }
    }

    @media screen and (max-width: 70rem) {
        &__sales__products, &__recents__products {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (max-width: 47rem) {
        &__sales__products, &__recents__products {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 40rem) {
        &__sales__products, &__recents__products {
            grid-template-columns: 1fr;
        }
    }
}