.main__hero-wrapper {
  min-height: calc(100svh - 11rem);
  background-image: url("../../assets/hero_image.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: min(10vw, 10vh);
  padding-bottom: var(--global-spacing);
}
@media screen and (min-width: 37rem) {
  .main__hero-wrapper {
    background-attachment: fixed;
  }
}
.main__hero-wrapper__content {
  color: white;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.main__hero-wrapper__content__hero-text {
  font-weight: bold;
  font-size: min(8vw, 8vh, 5rem);
}
.main__hero-wrapper__content__show-now {
  background: #FFF;
  color: black;
  box-shadow: none;
  font-weight: 200;
  padding: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 0;
  transition: background 0.2s;
}
.main__hero-wrapper__content__show-now:hover {
  background: #DDD !important;
}
.main__hero-wrapper__scroll-btn {
  align-self: center;
  border: none;
  background: white;
  color: black;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
  cursor: pointer;
}
.main__hero-wrapper__scroll-btn > svg {
  display: block;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
}
.main__sales {
  padding: var(--global-spacing);
  scroll-margin-top: 11rem;
}
.main__sales__title {
  font-weight: 100;
  font-size: 3.5rem;
}
.main__sales__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--global-spacing);
  margin-top: var(--global-spacing);
}
.main__recents {
  padding: var(--global-spacing);
  padding-top: 0;
}
.main__recents__title {
  font-weight: 100;
  font-size: 3.5rem;
}
.main__recents__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--global-spacing);
  margin-top: var(--global-spacing);
}
.main__recents:has(> .main__recents__products:empty) {
  display: none;
}
@media screen and (max-width: 70rem) {
  .main__sales__products, .main__recents__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 47rem) {
  .main__sales__products, .main__recents__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 40rem) {
  .main__sales__products, .main__recents__products {
    grid-template-columns: 1fr;
  }
}