.main__hero-wrapper {
  height: calc(100svh - 11rem);
  background-image: url("../../assets/hero_image.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding: var(--global-spacing);
}
.main__hero-wrapper__content {
  color: white;
  max-width: 60rem;
  height: 100%;
  margin: 10% 0 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.main__hero-wrapper__content__hero-text {
  font-weight: bold;
  font-size: min(8vw, 4rem);
}
.main__hero-wrapper__content__show-now {
  background: #FFF;
  color: black;
  box-shadow: none;
  font-weight: 200;
  padding: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 0;
  transition: background 0.2s;
}
.main__hero-wrapper__content__show-now:hover {
  background: #DDD !important;
}
.main__hero-wrapper__scroll-btn {
  margin-top: auto;
  align-self: center;
  border: none;
  background: white;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
  cursor: pointer;
}
.main__hero-wrapper__scroll-btn > img {
  width: 4rem;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
}
.main__sales {
  padding: var(--global-spacing);
  scroll-margin-top: 11rem;
}
.main__sales__title {
  font-weight: 100;
  font-size: 3.5rem;
}
.main__sales__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, max-content));
  gap: var(--global-spacing);
  margin-top: var(--global-spacing);
}