.main {
    &__hero-wrapper {
        height: calc(100dvh - 11rem);
        background-image: url('../../assets/hero_image.webp');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: var(--global-spacing);

        &__scroll-btn {
            margin-top: auto;
            align-self: center;
            border: none;
            background: white;
            border-radius: 50%;
            animation: bounce 1s infinite ease-in-out;
            cursor: pointer;

            & > img {
                width: 4rem;
                aspect-ratio: 1/1;
                transform: rotate(180deg);
            }
        }
    }

    &__sales {
        padding: var(--global-spacing);
        scroll-margin-top: 11rem;

        &__title {
            font-weight: 100;
            font-size: 3.5rem;
        }

        &__products {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30rem, max-content));
            gap: var(--global-spacing);
            margin-top: var(--global-spacing);
        }
    }
}