main {
    padding: var(--global-spacing);
}

.search {
    display: flex;
    flex-wrap: wrap;
    gap: var(--global-spacing);

    &__bar {
        flex: 15;
        padding: 1.5rem;
        border: none;
        outline: none;
        font-size: 2rem;
        background: var(--header-background);
        color: var(--text-color);
        text-align: center;
        box-shadow: 0 0 0.5rem 0.1rem #6663;
        position: relative;
        border-radius: 0;

        :root.darkmode & {
            box-shadow: 0 0 0 1px var(--border-color);
        }
    }

    &__search {
        flex: 1;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--global-spacing);
    margin-top: var(--global-spacing);
    
    &__filter {
        grid-column: 1;
        padding: 2rem;
        height: fit-content;
        background-color: var(--header-background);
        box-shadow: 0 0 0.5rem 0.1rem #6663;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__price-selector &__label {
            display: flex;
            justify-content: space-between;

            & .input-value {
                font-family: monospace;
            }
        }

        &__label {
            font-weight: 100;
        }

        &__input[type=range] {
            width: 100%;
            appearance: none;
            height: 0.7rem;
            background: #0001;
            border: thin solid var(--border-color);
            border-radius: 1000rem;

            &::-webkit-slider-thumb, &::-moz-range-thumb {
                background: var(--header-background);
                border: thin solid var(--border-color);
                height: 1.7rem;
                width: 1.7rem;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        &__category {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            & > * {
                cursor: pointer;
            }
        }

        &__input[type=checkbox] {
            appearance: none;
            width: 2rem;
            height: 2rem;
            background: none;
            border: thin solid var(--border-color);
            border-radius: 0;
            position: relative;

            &:checked::after {
                content: '';
                position: absolute;
                inset: 0;
                background-image: url('../../assets/close.svg');
                background-position: center;
                background-size: 120%;
                
                :root.darkmode & {
                    filter: invert(100%);
                }
            }
        }

        :root.darkmode & {
            box-shadow: 0 0 0 1px var(--border-color);
        }
    }

    &__results {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: var(--global-spacing);

        &:empty::after {
            content: 'No results found';
            font-size: 3rem;
            font-weight: 100;
            color: #666;
        }
    }

    @media screen and (max-width: 70rem) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 47rem) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 40rem) {
        grid-template-columns: 1fr;

        &__results { grid-column: 1; }
    }
}